html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.flexcontainer {
  display: flex;
  background-color: red;
 
}
a {
  color: inherit;
  text-decoration: none;
}
.titles{
  color : red;
}
* {
  box-sizing: border-box;
}
